/* Initial Defaults */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #0f0c27; /*TEMP*/
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

h2 {
  color: white;
  font-size: 2em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

a {
  color: white;
}

/* Attribution for artist */
.attribute {
  position: absolute;
  top: 100%;
  text-align: center;
  color: rgb(95, 94, 94);
  font-size: 0.7em;
}

.attribute > a {
  color: rgb(95, 94, 94);
  font-size: 1em;
}

/* Main-container is the base of each screen */
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  min-height: 500px;
  height: 709px;
  width: 100%;
  max-width: 1000px;
}

/* Alert */
.alert {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #0f0c27ef;
  border-radius: 5em;
  backdrop-filter: blur(7px);
  color: white;
}

.alert > p,
.alert > ul {
  width: 40em;
  text-align: left;
}

/* HomeScreen */
.theme-buttons {
  display: flex;
  justify-content: center;
}

.theme-buttons button {
  font-size: 1em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding: 6px 12px;
  height: 3em;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.theme-buttons button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

/* ThemeScreen */

.home-button {
  position: absolute;
  top: 5%;
  left: 5%;
}

.home-button button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
}

.home-button button:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.deck-card-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.deck {
  width: 7em;
  height: 10em;
  background-image: url("campfirecard.png");
  margin-top: 3em;
  margin-bottom: 3em;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.card-face-down {
  background-image: url("campfirecard.png");
  background-size: cover;
}

.card,
.card-face-down {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 14em;
  max-width: 14em;
  min-height: 20em;
  height: 20em;
  padding: 0;
  margin-left: 2em;
  margin-right: 2em;
  cursor: pointer;
}

.card-question-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 83%;
  width: 85%;
  margin-top: 2.5em;
  padding: 0 1em 0 1em;
  background-color: white;
  border-radius: 1em;
}

.main-question {
  font-weight: 500;
  padding-bottom: 0.4em;
  margin-bottom: 0;
  border-bottom: 3px solid;
}

.card-theme {
  position: absolute;
  top: 2.5%;
  font-size: 1em;
  font-weight: 400;
  border-radius: 1em;
  background-color: #0c0344;
  color: white;
  margin: 0;
  padding: 0.1em 0;
  width: 150px;
  text-align: center;
}

/* Colours for card themes */

.brown {
  background-color: #812621;
}

.blue {
  background-color: #0094c2;
}

.orange {
  background-color: #d0603b;
}

.yellow {
  background-color: #fdbe0f;
}

.green {
  background-color: #80a378;
}

.purple {
  background-color: #652d90;
}
